<component name="libraryTable">
  <library name="springframework.security.spring.crypto" type="repository">
    <properties maven-id="org.springframework.security:spring-security-crypto:5.4.7" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-crypto/5.4.7/spring-security-crypto-5.4.7.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-crypto/5.4.7/spring-security-crypto-5.4.7-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES />
  </library>
</component>